<div class="flash">
  <% flash.each do |k, v| %>
    <div class="alert alert-<%= bootstrap_flash_color(k) %>">
      <strong><%= t "flash.#{k}" %>: </strong>
      <%= v %>
    </div>
  <% end %>
</div>
